<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tamagochiv1">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TamagochiV1">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />


        <activity android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Shower"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.Shower"/>

            </intent-filter>
        </activity>

        <activity android:name=".Walk"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.Walk"/>

            </intent-filter>
        </activity>

        <activity android:name=".CreatePet"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.CreatePet"/>

            </intent-filter>
        </activity>

        <!-- For retrieving the broadcast sent by the system when the alarm is triggered -->
        <receiver android:name=".noti.AlarmReviecer" />

        <!-- For listening to device reboot to reschedule alarms -->
        <receiver android:name=".noti.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>